.footer {
  /* Фиксированное позиционирование относительно экрана */
  position: fixed;
  bottom: 0;
  left: 245px; /* Сдвиг вправо на ширину NavBar */
  right: 0;
  height: 158px; /* Фиксированная высота */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;

  z-index: 3000; /* Чтобы быть поверх модалок, если нужно */
}

.footer-nav {
  display: flex;
  gap: 24px;
  margin-bottom: 4px;
}

.footer-link {
  text-decoration: none;
  color: #737373;
  font-size: 13px; /* В Instagram футер обычно чуть мельче */
  font-weight: 400;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 8px;
  text-transform: uppercase;
}
