.profile-page {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 20px;
}

.profile-header {
  display: flex;
  margin-bottom: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 90px;
}

.avatar-wrapper {
  display: flex;
  justify-content: flex-start;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e1306c;
  object-fit: cover;
}

.profile-info {
  flex: 2;
}

.info-top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.username-title {
  font-size: 20px;
  font-weight: 400;
}
.action-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-btn,
.message-btn,
.followBtn {
  padding: 10px 40px;
  border: none;
  background: #efefef;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.followBtn {
  background: #0095f6;
  color: white;
  border: none;
}

.followBtn.unfollow {
  background: #efefef;
  color: black;
}

.stats-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}
.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bio-section p {
  margin: 0;
  padding: 5px 0;
}
.profile-posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  border-top: 1px solid #dbdbdb;
  padding-top: 20px;
}

.grid-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

/* Стили для редактирования */
.edit-profile-container {
  max-width: 610px;
  margin: 50px auto;
  background: white;
}

.edit-avatar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #efefef;
  padding: 16px;
  border-radius: 20px;
  margin: 20px 0;
}
.edit-avatar-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.edit-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 15px;
}

.change-photo-btn {
  color: #fff;
  background-color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}
.edit-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.edit-fields input,
.edit-fields textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-sizing: border-box;
}
.edit-fields label {
  font-weight: 700;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.save-btn {
  width: 50%;
  padding: 12px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.profile-posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.profile-post-item {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.profile-post-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-post-item:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Затемнение при наведении */
}
